{% extends "base.html" %}

{% block body %}
    <div class="w-96 mx-auto mt-8 p-6 bg-white rounded-md shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Your Form Title</h2>
        {% if form.non_field_errors %}
        <div class="bg-red-100 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
            <p class="font-bold">Error!</p>
            {% for error in form.non_field_errors %}
                <p class="block">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-4">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-600">{{ field.label }}</label>
                    <input
                        type="{{ field.field.widget.input_type }}"
                        name="{{ field.name }}"
                        id="{{ field.id_for_label }}"
                        class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500"
                        {% if field.field.required %}required{% endif %}
                    >
                    {% if field.help_text %}
                        <p class="mt-2 text-sm text-gray-500">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue">
                Submit
            </button>
        </form>
    </div>
{% endblock body %}
