{% extends "base.html" %}

{% block body %}
    <div class="container">
        {% comment %} for errors {% endcomment %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="bg-red-100 px-4 py-3 rounded relative mt-2" role="alert">
                    <p class="font-bold">Error Heappen</p>
                    <p class="block">{{ error }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <form  method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock body %}